{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">

  <div class="cc-box program-link">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>Opening Hours:</br>
      Monday - Sunday</br> 
      12 - 20h</p>
    </div>
  </div>

  <div class="cc-box program-link2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>Location:</br>
      Alte Münze </br>
      Molkenmarkt 2</br>
      10179 Berlin</p>
    </div>
  </div>  

  <div class="cc-box workshops1">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <p>After 1.5 years of working on CORONA CULTURE we are thrilled to finally invite you to the  exhibition - in real life! </br></br>
    It includes works by over 100 artists, cultural creators and activists from around the world, brought together as an assemblage that uniquely fuses video, photography, 3D design, sound-based work, performance, sculpture, and site-specific installations – spread across 4000m² of the historic Alte Münze, situated in the heart of Berlin. CORONA CULTURE explores how the current pandemic affects our values, relationships, yearnings, fears and future plans. The project presents a mosaic of perspectives on uncertainty and investigates the threats and possibilities we encounter in this time of radical transformation.</p>
    </div>
  </div>

  <div class="cc-box workshops2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <p>Limited Capacity. Corona Hygiene Regulations apply. </br>
    We are a 3G Space. </br>
    For special events we will have a mobile testing station on site.</p>
    </div>
  </div>

  <div class="cc-box workshops3">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>We can’t wait to welcome you and come together in real life finally!</p>
    </div>
  </div>


</main>
{% endblock %}
