<footer>
  <div class="social-icons">
    <a href="https://www.facebook.com/coronacultureproject" target="_blank"><img src="/assets/images/facebook.png" alt="facebook logo"></a>
    <a href="https://www.instagram.com/corona.culture/" target="_blank"><img src="/assets/images/instagram.png" alt="instagram logo"></a>
  </div>
  <div class="gdpr">
    <a href="/contact">CONTACT US</a>
    <a href="/imprint">Imprint</a>
    <a href="/privacy">Data Privacy</a> 

  </div>
  <div class="sponsors">
    <img src="/assets/images/sponsors-1.png" alt="Sponsor Group 1">
    <img src="/assets/images/sponsors-4.png" alt="Sponsor Group 4">
    <img src="/assets/images/sponsors-2.png" alt="Sponsor Group 2">
    <img src="/assets/images/sponsors-3.png" alt="Sponsor Group 3">
    <img src="/assets/images/sponsors-5.png" alt="Sponsor Group 5">
    

  </div>
</footer>
  