{%  if chapter %}
  <header class="experience-header">
    <nav class="experience-navbar">
      <a href="/" class="logo"><img src="/assets/images/logo.png" alt="Corona Culture Logo"></a>
      <p class="title">The Digital Experience</p>
      <ul class="nav-items">
        {% if prev %}
          <li class="back"><a href="/digital-experience/{{ prev }}">ᐸ</a></li>
        {%  endif %}
        <li class="current-chapter">{{ chapter }}</li>
        {% if next %}
          <li class="next"><a href="/digital-experience/{{ next }}">ᐳ</a></li>
        {%  endif %}
      </ul>
    </nav>
  </header>
{% else %}
  <header>
    <nav class="navbar">
      <button id="mobile-menu">menu</button>
      <a href="/" class="logo"><img src="/assets/images/logo.png" alt="Corona Culture Logo"></a>
      <ul class="nav-items">
        <li class="nav-item {{ 'active' if '/artists' in page.url }}"><a href="/artists">Artists</a></li>
        <li class="nav-item {{ 'active' if '/exhibition' in page.url }}"><a href="/exhibition">Exhibition</a></li>
        <li class="nav-item {{ 'active' if '/program' in page.url }}"><a href="/program">Evening Program</a></li>
        <li class="nav-item {{ 'active' if '/tickets' in page.url }}"><a href="#TicksforGicks">Tickets</a></li>
        <li class="nav-item {{ 'active' if '/digital-experience' in page.url }}"><a href="/digital-experience">Digital Experience</a></li>
      </ul>

      <ul class="mobile-nav-items hidden">
        <li class="nav-item {{ 'active' if '/artists' in page.url }}"><a href="/artists">Artists</a></li>
        <li class="nav-item {{ 'active' if '/exhibition' in page.url }}"><a href="/exhibition">Exhibition</a></li>
        <li class="nav-item {{ 'active' if '/program' in page.url }}"><a href="/program">Evening Program</a></li>
        <li class="nav-item {{ 'active' if '/tickets' in page.url }}"><a href="/tickets">Tickets</a></li>
        <li class="nav-item {{ 'active' if '/digital-experience' in page.url }}"><a href="/digital-experience">Digital Experience</a></li>
        <li class="nav-item {{ 'active' if '/contact' in page.url }}"><a href="/contact">Contact Us</a></li>

        <li id="imprint" class="nav-item {{ 'active' if '/imprint' in page.url }}"><a href="/imprint">Imprint</a></li>
        <li id="privacy" class="nav-item {{ 'active' if '/privacy' in page.url }}"><a href="/privacy">Data Privacy</a></li>
        <div class="social-icons">
          <a href="https://www.facebook.com/coronacultureproject" target="_blank"><img src="/assets/images/facebook.png" alt="facebook logo"></a>
          <a href="https://www.instagram.com/corona.culture/" target="_blank"><img src="/assets/images/instagram.png" alt="instagram logo"></a>
        </div>
        <button id="close-menu"><img src="/assets/images/close.png" alt="close-button"></button>
      </ul>
    </nav>
  </header>
{%  endif  %}
