{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">

  <div class="cc-box exhibition-link">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>English Tours <br><br>
      Do 21.10. — 17.30 - 18.45h <br>
      Sa 23.10. — 14 - 15.15h<br>
      <br>
      Do 28.10. — 17.30 - 18.45h<br>
      Sa 30.10. — 14 - 15.15h</p>
    </div>
  </div>

  <div class="cc-box exhibition-link2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>Deutsche Touren <br><br>
      So 24.10. — 15 - 16.15h<br>
      So 31.10. — 15 - 16.15h</p>
    </div>
  </div> 

  <div class="cc-box workshops1">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <h1>CURATOR’S GUIDED TOUR OF CORONA CULTURE EXHIBITION</h1>
    </div>
  </div>

  <div class="cc-box workshops2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <p>Kontingent: 20 Personen<br>
    Preis: 20 EUR</p>
    </div>
  </div>

  <div class="cc-box workshops3">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p><br><br><br></p>
    </div>
  </div>

  <div id="tfg-templateConainer1"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer1','9df0dae9-02f0-4b60-993b-0537aeb55913', 39527, 'null')"></script>

  <div id="tfg-templateConainer2"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer2','9df0dae9-02f0-4b60-993b-0537aeb55913', 39528, 'null')"></script>

  <div id="tfg-templateConainer3"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer3','9df0dae9-02f0-4b60-993b-0537aeb55913', 39531, 'null')"></script>

  <div id="tfg-templateConainer4"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer4','9df0dae9-02f0-4b60-993b-0537aeb55913', 39530, 'null')"></script>

  <div id="tfg-templateConainer5"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer5','9df0dae9-02f0-4b60-993b-0537aeb55913', 39529, 'null')"></script>

  <div id="tfg-templateConainer6"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer6','9df0dae9-02f0-4b60-993b-0537aeb55913', 39533, 'null')"></script>

</main>
{% endblock %}
