{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">

  <div class="cc-box exhibition-link">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>English Tours <br>
      Do 21.10. — 17.30 - 18.45h <br>
      Sa 23.10. — 14 - 15.15h<br>
      <br>
      Do 28.10. — 17.30 - 18.45h<br>
      Sa 30.10. — 14 - 15.15h</p>
    </div>
  </div>

  <div class="cc-box exhibition-link2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>Deutsche Touren <br>
      So 24.10. — 15 - 16.15h<br>
      So 31.10. — 15 - 16.15h</p>
    </div>
  </div> 

  <div class="cc-box workshops1">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <h1>CURATOR’S GUIDED TOUR OF CORONA CULTURE EXHIBITION</h1>
    </div>
  </div>

  <div class="cc-box workshops2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <p>Kontingent: 20 Personen<br>
    Preis: 20 EUR</p>
    </div>
  </div>

  <div class="cc-box workshops3">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>Deutsche Touren <br>
      So 24.10. — 15 - 16.15h<br>
      So 31.10. — 15 - 16.15h</p>
    </div>
  </div>

  <div class="cc-box workshops3">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>English Tours <br>
      Do 21.10. — 17.30 - 18.45h <br>
      Sa 23.10. — 14 - 15.15h<br>
      <br>
      Do 28.10. — 17.30 - 18.45h<br>
      Sa 30.10. — 14 - 15.15h</p>
    </div>
  </div>


</main>
{% endblock %}
