{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">

  <div class="cc-box workshops1">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    <h1 style="margin-bottom: 0;">CURATOR’S GUIDED TOUR OF CORONA CULTURE EXHIBITION</h1>
    </div>
  </div>

  <div class="cc-box exhibition-link_tour">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>English Tours <br><br>
      Wed 3.11. — 17.30 - 18.45h<br>
      Sa 6.11. — 14 - 15.15h<br>
      <br>
      Wed 10.11. — 17.30 - 18.45h<br>
      Sa 13.11. — 14 - 15.15h</p>
    </div>
  </div>

  <div class="cc-box exhibition-link2_tour">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>Führungen auf Deutsch<br><br>
      Do 4.11. — 17.30 - 18.45h<br>
      So 7.11. — 15 - 16.15h<br>
      <br>
      Do 11.11. — 17.30 - 18.45h<br>
      Fr 12.11. — 17.30 - 18.45h</p>
    </div>
  </div>

  <div id="tfg-templateConainer6" class="cc-box tours"></div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer6','9df0dae9-02f0-4b60-993b-0537aeb55913', 39533, 'null')"></script>

</main>
{% endblock %}
