{% extends "./default.njk" %}

{% block main %}
<main class="main header-offset">
  <div class="artists-list">
    <h1>Artists</h1></br>
    <h2>EXHIBITION CATALOGUE</h2>
    <p><a href="https://drive.google.com/file/d/1P6tUHMw0Qex0U71VULmzBEmwz6nZLiGY/view?usp=sharing">Download</a></p></br>
    <ul>
    {% for artist in artists %}
      <li>{{ artist.name }}
        {% if artist.url %} <span>----- <a href="{{ artist.url }}" target="_blank">website</a></span>{% endif %}
        {% if artist.social %} <span>+++++ <a href="{{ artist.social }}" target="_blank">social</a></span>{% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}
