{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">

  <div class="cc-box workshops">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
      </br>
      <h2 style="margin-bottom: 0;">FESTIVAL</h2>
      </br>
      <p>
      From 19 - 21 November we are celebrating the closing of the exhibition with a vibrant finissage programme. We will be open 12h until midnight each of those three days and will present an array of showcases, performances and music acts! </br></br>
      <b><u>Music, Showcases & Performances by:</u></b>
      </br>
      - Freak de l’Afrique</br>
      - Soul Sauna</br>
      - Ellebasi Gebhardt</br>
      - Jos Porath & Marie Zwinscher</br>
      - Luis Krummenacher</br>
      - Roygbiv</br>
      - Dasa Hink</br>
      - Alexander Carrillo</br>
      - Sarah Khiabani</br>
      - Alexander Paulski</br>
      - Marie Lung</br>
      - Siegfried Wahnreich</br>
      - more TBA!</br>
      </br></br>
      Thank you once more to all contributors and our wonderful team - we look forward to coming together and celebrating on these final days!</br>
      </br>
      </br>
      <a href="#tfg-templateConainer_festival1">Fr 19.11. — 12h - 00h — Festival Day 1</a></br></br>
      <a href="#tfg-templateConainer_festival2">Sa 20.11. — 12h - 00h — Festival Day 2</a></br></br>
      <a href="#tfg-templateConainer_festival3">So 21.11. — 12h - 00h — Festival Day 3</a></br></br>

      </p>
    </div>
  </div>

  <div id="tfg-templateConainer_festival1" class="cc-box festival_tickets">
  
  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_festival1','9df0dae9-02f0-4b60-993b-0537aeb55913', 39944, 'null')"></script>


  <div id="tfg-templateConainer_festival2" class="cc-box festival_tickets">
  
  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_festival2','9df0dae9-02f0-4b60-993b-0537aeb55913', 39947, 'null')"></script>


  <div id="tfg-templateConainer_festival3" class="cc-box festival_tickets">
  
  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_festival3','9df0dae9-02f0-4b60-993b-0537aeb55913', 39949, 'null')"></script>

</main>
{% endblock %}
