{% extends "./default.njk" %}

{% block main %}
<main class="flex-content mt-88" id="home">
  <div class="left-sidebar">
    <a href="/artists" class="nav-btn">Artist<br>List<img src="/assets/images/arrow.png" alt="left-arrow" class="arrow-btn left-arrow"></a>
  </div>
  <div class="middle">
    <div class="when cc-box">
      <div class="close close-sm"><img src="/assets/images/close.png" alt="close-button"></div>
      <div class="text basic-commercial">
        ??.?? - ??.??.2021
      </div>
    </div>
    <div class="cc cc-box">
      <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
      <div class="image-container">
        {# <img src="assets/images/corona-culture.png" alt="Corona Culture"> #}
      </div>
    </div>
    <div class="wtf cc-box">
      <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
      <div class="image-container">
        {# <img src="assets/images/wtf.png" alt="Wtf is happening?"> #}
      </div>
    </div>
    <div class="where cc-box">
    <div class="close close-sm"><img src="/assets/images/close.png" alt="close-button"></div>
      <div class="text">
        <a href="https://alte-muenze-berlin.de/">@Alte Münze</a>
      </div>
    </div>
    <div class="about cc-box">
      <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
      <div class="box-content">
        <p>An exhibition, sociocultural program and documentary about how the current pandemic affects our values, relationships, yearnings and future, revealing a mosaic of perspectives in the way we encounter uncertainty.</p>
        <p>It’s a momentary caption that aims to explore the peculiarities and possibilities of this time of radical transformation.</p>
        <p>In the Spring of 2021 (hopefully soon!) we will open the doors of Alte Münze Berlin and invite you into the cosmos of CORONA CULTURE - WHAT THE FUCK IS HAPPENING?!</p>
      </div>
    </div>
  </div>
  <div class="right-sidebar">
    <a href="/digital-experience" class="nav-btn">Digital Experience<img src="/assets/images/arrow.png" alt="left-arrow" class="arrow-btn right-arrow"></a>
  </div>
</main>
{% include "./_footer.njk" %}
{% endblock %}

