{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">
  <div class="cc-box program-link">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <p>See our full program <a href="https://fb.me/e/dcrWsl5ty" target="_blank" id="program-btn">HERE</a></p>
    </div>
  </div>

  <div class="cc-box workshops">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
      <h1>Workshop Sign Up</h1>
      <form action="/program" name="workshops" method="POST" data-netlify="true">
        <input type="text" name="name" required placeholder="name*" class="form-input">
        <input type="email" name="email" required placeholder="email*" class="form-input">
        <select name="workshop" id="workshop-select" required>
          <option value="">workshop</option>
          <option value="Fühlen in Gesellschaft with Museum für Werte">Thursday // 29.04 // 10-13h & 17-20h: Fühlen in Gesellschaft mit dem Museum für Werte(DE)</option>
          <option value="Dose of Pleasure with Alvin Collantes(29.04)">Thursday // 29.04 // 19h: Dose of Pleasure with Alvin Collantes(EN)</option>
          <option value="Unsere Zukunft gemeinschaftlich gestalten mit Urban Catalyst (DE)">Tuesday // 04.05 // 15.30-18.30h: Unsere Zukunft gemeinschaftlich gestalten mit Urban Catalyst (DE)</option>
          <option value="Play in Pandemic with Transmodernity (EN)">Tuesday // 04.05 // 19h: Play in Pandemic with Transmodernity (EN)</option>
          <option value="Create the New World with Exit the Void">Thursday // 06.05 // 19h: Create the New World with Exit the Void(EN)</option>
          <option value="Dose of Pleasure with Alvin Collantes(11.05)">Tuesday // 11.05 // 19h: Dose of Pleasure with Alvin Collantes (EN)</option>
          <option value="Mental Health Support through the Corona Pandemic with Reginie Sunder Raj">Thursday // 13.05 // 19h: Mental Health Support through the Corona Pandemic with Reginie Sunder Raj(EN)</option>
          <option value="Living With Cycles: From Cosmos to Body with Florence Devereux">Tuesday // 18.05 // 19h: Living With Cycles: From Cosmos to Body with Florence Devereux(EN)</option>
          <option value="Offene Gesellschaft in Zeiten von Corona - Widerspruch oder Chance?">Thursday // 20.05 // 19h: Offene Gesellschaft in Zeiten von Corona - Widerspruch oder Chance?(DE)</option>
          <option value="Im Spannungsfeld zwischen Hilflosigkeit und Aktivismus">Tuesday // 25.05 // 19h: Sea-Watch - Im Spannungsfeld zwischen Hilflosigkeit und Aktivismus(DE)</option>
          <option value="Das begehbare Mittelmeer – Immersive Installation von Sea-Watch">Thursday // 27.05 // 19h: Das begehbare Mittelmeer – Immersive Installation von Sea-Watch(DE)</option>
          <option value="Eine Exkursion in den Kosmos der Bienen von Machstatt">Saturday // 29.05 // 12h: Well-Beeing – Eine Exkursion in den Kosmos der Bienen von Machstatt(DE)</option>
          <option value="Wie ‘zero waste’ bist du? mit Ocean. Now!">Tuesday // 01.06 // 19h: Wie ‘zero waste’ bist du? mit Ocean. Now!(DE)</option>
          <option value="Chant In with Taïs Bean ">Thursday // 03.06 // 19h: Chant In with Taïs Bean (EN)</option>
        </select>
        <div class="submit-area">
          <button type="submit" class="submit-button">submit</button>
        </div>
      </form>
    </div>
    <div class="after-text hidden transparent">
      <h1>Thanks for signing up!</h1>
      <p>Please be on the lookout for an email with more information about the event.</p>
    </div>
  </div>


</main>
{% endblock %}
