{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">

  <div class="cc-box workshops">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
      </br>
      <h2 style="margin-bottom: 0;">EVENING PROGRAM</h2>
      </br>
      <p>
      On selected evenings, there will be a vibrant program including performances, talks, screenings and concerts.</br>
      </br>
      </br>
      <a href="#tfg-templateConainer_programm0">Mi 20.10. — 19.30 - 22h — Fishbowl Discussion by Ocean.Now!</a></br></br>
      <a href="#tfg-templateConainer_programm1">Mo 25.10. — 20 - 23h — "TYPING" - PERFORMATIVE LESUNG "AD HOC"</a></br></br>
      <a href="#tfg-templateConainer_programm2">Do 28.10. — 18 - 03h — SOUL SAUNA PRESENTS PLENTY</a></br></br>
      <a href="#tfg-templateConainer_programm4">Mi 03.11. — 17.30 - 23h — MALONDA LÄDT EIN: MUSIK UND WIDERSTAND</a></br></br> 
      <a href="#tfg-templateConainer_programm5">Do 04.11. — 19.30 - 23h — GIFT interactive movie screening</a></br></br> 
      <a href="#tfg-templateConainer_programm6">So 07.11. — 20 - 23.55h — Amapiano2.7.0</a></br></br> 
      <a href="#tfg-templateConainer_programm7">Di 09.11. — 19.30 - 23h — NEXUM </a></br></br> 
      <a href="#tfg-templateConainer_programm3">Do 11.11. — 17.30 - 23h — Sea-Watch – Das zivile Auge im Mittelmeer</a></br></br> 
      </p>
    </div>
  </div>

  <div id="tfg-templateConainer_programm4" class="cc-box programm_tickets">

    <div class="cc-box programm_img">
       <div class="close close-md"><img alt="close-button" src="/assets/images/close.png"></div>
        <div class="form program-message">
          <img src="/assets/images/programm/Malonda_IG.jpg" alt="programm_img" style="max-height: 250px;">
        </div>
    </div>
    
  </div>

  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_programm4','9df0dae9-02f0-4b60-993b-0537aeb55913', 39637, 'null')"></script>

  <div id="tfg-templateConainer_programm5" class="cc-box programm_tickets">

    <div class="cc-box programm_img">
       <div class="close close-md"><img alt="close-button" src="/assets/images/close.png"></div>
        <div class="form program-message">
          <img src="/assets/images/programm/GIFT.jpg" alt="programm_img" style="max-height: 250px;">
        </div>
    </div>

  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_programm5','9df0dae9-02f0-4b60-993b-0537aeb55913', 39686, 'null')"></script>

  <div id="tfg-templateConainer_programm6" class="cc-box programm_tickets">

    <div class="cc-box programm_img">
       <div class="close close-md"><img alt="close-button" src="/assets/images/close.png"></div>
        <div class="form program-message" style="max-height: 250px;">

        </div>
    </div>

  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_programm6','9df0dae9-02f0-4b60-993b-0537aeb55913', 39828, 'null')"></script>


  <div id="tfg-templateConainer_programm7" class="cc-box programm_tickets">

    <div class="cc-box programm_img">
       <div class="close close-md"><img alt="close-button" src="/assets/images/close.png"></div>
        <div class="form program-message">
          <img src="/assets/images/programm/NEXUM_IG.jpg" alt="programm_img" style="max-height: 250px;">
        </div>
    </div>

  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_programm7','9df0dae9-02f0-4b60-993b-0537aeb55913', 39830, 'null')"></script>


  <div id="tfg-templateConainer_programm3" class="cc-box programm_tickets">

    <div class="cc-box programm_img">
       <div class="close close-md"><img alt="close-button" src="/assets/images/close.png"></div>
        <div class="form program-message">
          <img src="/assets/images/programm/Sea-watch_IG.jpg" alt="programm_img" style="max-height: 250px;">
        </div>
    </div>

  </div>
  <script async src="https://www.tixforgigs.com/bundles/templatesystem/tixforgigs_template"
    onload="tixforgigs.init(this,'tfg-templateConainer_programm3','9df0dae9-02f0-4b60-993b-0537aeb55913', 39606, 'null')"></script>




</main>
{% endblock %}
