{% extends "./default.njk" %}

{% block main %}

<main class="program-page header-offset">
  <div class="cc-box program-link">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
     </br>
      <p>OPENING NIGHTS </br>
      OCTOBER 13 & 14 </br>
      7PM @ Alte Münze Berlin</p>
    </div>
  </div>

  <div class="cc-box workshops">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
    </br>
    <p>On selected evenings, there will be a vibrant program including performances, talks, screenings and concerts.</br>
    </br>
    The full evening program will be released soon!</br>
    So stay tuned!</p>
  </div>

  <div class="cc-box program-link2">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form program-message">
      <img src="/assets/images/CC_artists_flashingGIF.gif">
    </div>
  </div>


</main>
{% endblock %}
