{% extends "./default.njk" %}

{% block main %}
<main class="main">
  <div data-vimeo-id="{{ videoID }}" class="video-background" class="video-experience" id={{ divID }}></div>

  <div class="cc-box hidden">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="">
      <p>More?</p>
    </div>
  </div>
</main>
{% endblock %}
