---
layout: video
title: Corona Culture - Chapter 3
videoID: 525202574
tags: chapters
chapter: 'Chapter 3 - Normal-ization'
divID: chapter-3
endTime: 360
prev: chapter-2
next: chapter-4
linkText: Click Here
---
