---
layout: default
title: Corona Culture - Tickets
---
<main class="main header-offset">
  <div class="form form-contact">
    <div class="cc-box workshops">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
      <h1>Newsletter</h1>
      <p>Stay up to date, sign up for our newsletter.</p>
      <form action="/program" name="workshops" method="POST" data-netlify="true">
        <input type="text" name="name" required placeholder="name*" class="form-input">
        <input type="email" name="email" required placeholder="email*" class="form-input">
        <div class="submit-area">
          <button type="submit" class="submit-button">submit</button>
        </div>
      </form>
    </div>
    <div class="after-text hidden transparent">
      <h1>Thanks for signing up!</h1>
      <p>We will keep you updated!</p>
    </div>

  </div>
</main>
