---
layout: default
title: Corona Culture - Tickets
---
<main class="main header-offset">
  <div class="form form-contact" style="width: 95vw;">
    <h1>Tickets</h1>
    <p>Reduced Tickets(students, pensioners, BerlinPass holders)<br>
    Children younger than 12 years  get in for free</p>
    
      <div class="cc-box workshops">
    <div class="close close-md"><img src="/assets/images/close.png" alt="close-button"></div>
    <div class="form form-workshops">
      <h1>Workshop Sign Up</h1>
      <form action="/program" name="workshops" method="POST" data-netlify="true">
        <input type="text" name="name" required placeholder="name*" class="form-input">
        <input type="email" name="email" required placeholder="email*" class="form-input">
        <select name="workshop" id="workshop-select" required>
          <option value="">workshop</option>
          <option value="Fühlen in Gesellschaft with Museum für Werte">Thursday // 29.04. // 10-13h & 17-20h: Fühlen in Gesellschaft mit dem Museum für Werte(DE)</option>
          
        </select>
        <div class="submit-area">
          <button type="submit" class="submit-button">submit</button>
        </div>
      </form>
    </div>
    <div class="after-text hidden transparent">
      <h1>Thanks for signing up!</h1>
      <p>Please be on the lookout for an email with more information about the event.</p>
    </div>

  </div>
</main>
