.cc-box {
  border: 2px solid black;
  background: white;
}

.hidden {
  display: none !important;
}

.close {
  border-bottom: 2px solid black;
  &-sm {
    img { height: 20px; }
  }
  &-md {
    img { height: 30px; }
  }
  &-lg {
    img { height: 40px; }
  }
}

.box-content {
  padding: 1rem;
}

.more {
  width: 30ch;
  height: 20ch;
  z-index: 10;
  position: absolute;
  transition: z-index 0.3s ease-in-out;
  transition: opacity 1s ease-in-out;
  &-chapter-1 {
    top: 15%;
    right: 25%;
  }
  &-chapter-2 {
    top: 27%;
    right: 23%;
  }
  &-chapter-3 {
    top: 43%;
    right: 25%;
    width: 35ch;
  }
  &-chapter-4 {
    top: 50%;
    right: 55%;
  }
  &-chapter-5 {
    top: 15%;
    right: 10%;
    width: 45ch;
    height: 50ch;
  }
}

.go-link {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-size: 2rem;
    padding: .5rem 3rem;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    // text-transform: uppercase;
    &:hover {
      color: white;
      background: black;
    }
  }
}

.register  {
  display: none;
  @include respond-to('large') {
    display: block;
  }
}

.already-registered {
  display: none;
  transition: opacity 1s ease-in-out;
  @include respond-to('large') {
    display: block;
  }
  #begin-again-btn {
    margin-top: 2rem;
    &:hover {
      color: white;
      background: black;
    }
  }
}

.autoplay {
  width: 45ch;
  position: absolute;
  top: 16%;
  left: 6%;
  transition: opacity 1.5s ease-in-out;
  .close img {
    cursor: pointer;
  }
  .autoplay-message {
    padding: 2rem;
    transition: opacity 1.5s ease-in-out;
  }
}

.mobile-box {
  height: 40ch;
  width: 80%;
  .mobile-message {
    justify-content: center;
    text-align: center;
    height: 80%;
  }
  @include respond-to('large') {
    display: none;
  }
}

.registered-message {
  padding: 4rem;
  a {
    padding: .5rem 1rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    text-transform: uppercase;
  }
}

#home {
  @include respond-to('large') {
    .cc-box:hover {
      animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2.5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.after-text {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  padding: 0 4rem;
  text-align: center;
  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.imprint-data {
  width: 80%;
  margin: 2rem 0;
  .text {
    padding: 2rem;
    h1 {
      text-transform: uppercase;
      font-size: 1.25rem;
    }
  }
}
