footer {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  flex-direction: column;
  @include respond-to('large') {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-icons {
    display: none;
    @include respond-to('large') {
      display: block;
    }
  }
  .gdpr {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    padding: 0 2rem;
    @include respond-to('large') {
      display: flex;
      flex-direction: row;
    }
    a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .sponsors {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 66%;
    @include respond-to('large') {
      flex-direction: row;
      img {
        width: 33%;
      }
    }
  }
}

.social-icons {
  img {
    width: 30px;
  }
}
