.flex-content {
  display: flex;
  height: 100%;
  margin-top: 88px;
}

.logo {
  padding-top: 1rem;
  @include respond-to('large') {
    padding: 0;
  }
}

.left-sidebar, .right-sidebar {
  display: none;
  @include respond-to('xl') {
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 2rem;
  }
}

.nav-btn {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.left-sidebar {
  .nav-btn {
    text-align: right;
  }
}

.arrow-btn {
  width: 40px;
  border: 2px solid black;
  padding: .25rem 1rem;
  margin-top: 1.5rem;
}

.right-arrow {
  transform: scaleX(-1);
}

.where .text {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  a {
    font-family: Arial;
    color: black;
    text-decoration: underline;
  }
}

.when .text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75%;
  font-size: 1.5rem;
}

.image-container {
  height: 70%;
  width: 100%;
  display: block;
  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}
