.middle {
  min-height: 90vh;
  flex: 1 0 auto;
  display: grid;
  width: 60%;
  margin: 2rem;
  @include respond-to('medium') {
    margin: 0 4rem;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(14, 49px);
    gap: 0px 0px;
    grid-template-areas:
      ". when when when when . . . . . . . . . . ."
      ". when when when when . . . . . . about about about about about"
      ". . . . . . . . . . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . . . . . . . . . . about about about about about"
      "wtf wtf wtf wtf wtf wtf . . . . . about about about about about"
      "wtf wtf wtf wtf wtf wtf . where where where . about about about about about"
      "wtf wtf wtf wtf wtf wtf . where where where . about about about about about"
      "wtf wtf wtf wtf wtf wtf . . . . . about about about about about"
      "wtf wtf wtf wtf wtf wtf . . . . . about about about about about"
      ". . . . . . . . . . . about about about about about"
  }
   @include respond-to('xl') {
    margin: 0;
    grid-template-areas:
      ". when when when when . . . . . . . . . . ."
      ". when when when when . . . . . . about about about about about"
      ". . . . . . . . . . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . cc cc cc cc cc cc cc . . about about about about about"
      ". . . . . . . . . . . about about about about about"
      "wtf wtf wtf wtf wtf wtf . . . . . about about about about about"
      "wtf wtf wtf wtf wtf wtf . where where where . about about about about about"
      "wtf wtf wtf wtf wtf wtf . where where where . about about about about about"
      "wtf wtf wtf wtf wtf wtf . . . . . about about about about about"
      "wtf wtf wtf wtf wtf wtf . . . . . about about about about about"
  }
}

.about {
  order: 2;
  margin-bottom: 1rem;
  @include respond-to('medium') {
    grid-area: about;
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }
}

.when {
  order: 1;
  margin-bottom: 1rem;
  height: 10ch;
  @include respond-to('medium') {
    grid-area: when;
    margin-bottom: 0;
    height: auto;
  }
}

.where {
  order: 3;
  height: 10ch;
  @include respond-to('medium') {
    grid-area: where;
    height: auto;
  }
}

.cc {
  display: none;
  @include respond-to('medium') {
    display: block;
    grid-area: cc;
    .image-container {
      img {
        max-width: 90%;
        @include respond-to('medium') {
          padding: 15px;
        }
      }
      // background-image: url('/assets/images/corona-culture.png');
      // background-size: contain;
      // background-position: center;
      // background-repeat: no-repeat;
    }
  }
}

.wtf {
  display: block;
  @include respond-to('medium') {
    display: block;
    grid-area: wtf;
    .image-container {
      img {
        max-width: 82%;
        @include respond-to('medium') {
          padding: 0px;
        }
        @include respond-to('large') {
          padding: 5px;
          padding-top: 10px;
        }
      }
    }
  }
}


@media all and (-ms-high-contrast:none) and (min-width: 925px){
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: repeat(16, 1fr);
    -ms-grid-rows: repeat(16, 1fr);
  }

  .when {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
  }

  .cc {
    -ms-grid-row: 4;
    -ms-grid-row-span: 7;
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
  }

  .wtf {
    -ms-grid-row: 12;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  }

  .where {
    -ms-grid-row: 13;
    -ms-grid-row-span: 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 3;
  }

  .about {
    -ms-grid-row: 2;
    -ms-grid-row-span: 14;
    -ms-grid-column: 12;
    -ms-grid-column-span: 5;
  }
}
