header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  background: white;
  z-index: 10;
  justify-content: center;
  flex-direction: column;
  @include respond-to('large') {
    justify-content: space-between;
    flex-direction: row;
  }
  #mobile-menu {
    border: 0;
    font-family: inherit;
    font-size: 1.25rem;
    outline: none;
    text-transform: uppercase;
    background: inherit;
    @include respond-to('large') {
      display: none;
    }
  }
  .nav-items {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    @include respond-to('large') {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 0.8rem;
    }
  }
  .mobile-nav-items {
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    @include respond-to('large') {
      display: none;
    }
    .social-icons {
      margin: 2rem 0;
    }
  }
  // #imprint {
  //   margin-top: 2rem;
  // }
  #close-menu {
    outline: none;
    border: 0;
    background: inherit;
    // margin-top: 2rem;
    img {
      height: 40px;
    }
  }
  button {
    cursor: pointer;
  }
  .logo{
    img {
      width: 250px;
      @include respond-to('large') {
        width: 200px;
      }
    }
  }
  .nav-item {
    text-transform: uppercase;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid white;
    @include respond-to('large') {
      padding: 1rem;
    }
    &:hover {
      border: 1px solid black;
    }
    &.active {
      border: 1px solid black;
    }
    @include respond-to('large') {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
  a,
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;
  }
  &.experience-navbar {
    .logo, .title, .nav-items {
      flex: 1;
    }
    .nav-items {
      justify-content: flex-end;
    }
    .title {
      text-transform: uppercase;
      text-align: center;
    }
    .back, .next {
      padding: .25rem .5rem;
      border: 1px solid black;
      margin: 1rem;
    }
  }
}

.experience-header {
  &.fade-out {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  &:hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
}
