@import "fonts";
@import "breakpoints";
@import "navbar";
@import "videos";
@import "boxes";
@import "forms";
@import "artists";
@import "home";
@import "home-grid";


html,
body {
  margin: 0;
  font-family: 'Source Code Pro', Courier, monospace;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 88px);
}

.mt-88 {
  margin-top: 88px;
}
