@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: 'Basic Commercial';
  src: url('/assets/fonts/BasicCommercialLTCom-Roman.ttf')  format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}


.basic-commercial {
  font-family: 'Basic Commercial';
}

.helvetica {
  font-family: Helvetica, sans-serif;
}
